[package]
name = "hex_arch"
version = "0.2.8"
authors = ["Trey Lowerison <19714082+tlowerison@users.noreply.github.com>"]
edition = "2021"

[dependencies]
hex_arch_accessors = { path = "./accessors", optional = true }
hex_arch_repositories = { path = "./repositories", optional = true }
hex_arch_validated = { path = "./validated", optional = true }

[features]
default = []
accessors = ["hex_arch_accessors"]
repositories = ["hex_arch_repositories"]
serde = ["hex_arch_repositories/serde"]
validated = ["hex_arch_validated"]
